body
{
	margin: 0px;
    padding: 0px;
    font-family:Arial, helvetica, sans-serif;
    text-align:center;
	background-color:white; 
	font-size: 20px;
}
a
{
	text-decoration: none;
}
img
{
	margin-top: 10px;
}
button
{
	border: 1px solid white;
	border-radius: 10px;
	font-size: 10px;
	background-color: 56B4E9;
	height: 20px;
	cursor: pointer;
}
p
{
	text-align:center;
	font-size: 14px;
	color: white;
}
header
{
    border: 0px solid rgb(32, 4, 4);
	border-radius: 0px;
	width: 1535px;
	height: 80px;
	background-color: rgba(20, 150, 224, 0.719);
	
}
nav
{
    border: 0px solid black;
	border-radius: 0px;
	width: 62px;
	height: 530px;
	background-color: rgba(20, 150, 224, 0.719);
	float: right;
}
article
{
    border: 0px solid black;
	border-radius: 0px;
	width: 1400px;
	height: 530px;
	background-color:white;
	float: right;
}
aside
{
    border: 0px solid white;
	border-radius: 0px;
	width: 62px;
	height: 530px;
	background-color:rgba(20, 150, 224, 0.719);
	float: left;
}
footer
{
    border: 0px solid white;
	border-radius: 0px;
	width: 1535px;
	height: 30px;
	background-color:rgba(20, 150, 224, 0.719);
	float: left;
	
}
.sub_header
{
    border: 0px solid white;
	border-radius: 0px;
	width: 33.16%;
	height: 98%;
    float: left;
   
}
.sub_article1
{
	border: 1px solid black;
	border-radius: 0px;
	width: 137px;
	height: 110px;
    float: left;
}
.sub_article2
{
	border: 1px solid black;
	border-radius: 0px;
	width: 1388px;
	height: 60px;
    float: left;
	padding-top: 40px;	
}
.subFooter
{
	border: 0px solid white;
	border-radius: 0px;
	width: 24.85%;
	height: 95%;
    float: left;
}
